@import '/src/Utilities/Variables';

.info-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.384);
  z-index: 1;
}
.info-container {
  display: none;
  display: flex;
  position: absolute;
  top: 25%;
  left: 57%;
  border-radius: 5px;
  background-color: #28282f;
  z-index: 999;

  // @include themify($themes) {
  //   background-color: themed('backColor');
  //   color: themed('textColor');
  // }
  flex-flow: column;
  @include flex-center;

  span {
    padding: 1.2rem;
  }
}
