@import '/src/Utilities/Variables';
.more-info--container {
  background-color: $base-color;
  color: rgb(224, 222, 222);
  border-radius: 11px;
  padding: 2.4rem;
  .minfo-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
  }
}
