@import '/src/Utilities/Variables';
.FavCoins {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  @include themify($themes) {
    background-color: themed('baseColor');
    color: themed('textColor');
  }
  border-radius: $bradius-l;
  padding: calc($unit-m * 2) calc($unit-m * 4);

  .coins-container {
    grid-row: 1 / span 2;
    // border: 1px solid red;
    padding: calc($unit-m * 2);
  }
  .graph {
    border: 1px solid red;
    padding: calc($unit-m * 2);
  }

  .coins {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #22212857;
    border-radius: 11px;
  }
}
