@import '/src/Utilities/Variables';

.top-coins {
  display: flex;
  flex-flow: column;
  gap: 2.4rem;
  .topthree-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    // background-color: #22212857;
    background-color: $coinColor;
    border-radius: 11px;
    width: 90%;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.071) 0px 15px 12px;

  }
  .top-coins--titles {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    padding: 2rem;
    color: $textColorSecondary;
    border-bottom: 1px solid rgb(37, 37, 37);
    font-size: 1.4rem;
    justify-items: center;
    letter-spacing: 1.1px;
  }
  .titles--column-one {
    justify-self: start;
    margin-left: 2.4rem;
  }
}
