@import '/src/Utilities/Variables';

.icon {
  width: 24px;
  height: 24px; 

  &.icon-arrow {
   color: $textColor;
    
    cursor: pointer;
  }
  &.icon-arrow:hover,
  &.icon-arroe:active {
    stroke: #98989c;
  }
}

.nav_icon-back {
background-color: $baseColor;
color: $textColor;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color:#0ca678;
  }

}

.icon-arrow-down{
  color: #d6336c;
}
.icon-arrow-up{
  color: #0ca678;
}
.icon-triangle--up{
  color: #0ca678;
  width: 10px;
  height: 10px;
  margin-bottom: 0.2rem;
}

.icon-triangle--down{
  color: #d6336c;
  rotate: (180deg);
  width: 10px;
  height: 10px;
  margin-top: 0.2rem;
}