@import '/src/Utilities/Variables';

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-container {
    display: flex;
    flex-direction: row;
    gap: calc($unit-l * 2);
    @include flex-center;
    
  }
  .icons {
    display: flex;
    gap: calc($unit-l * 2);
  }
  img {
    height: 30px;
    width: 30px;
  }
  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .icon-back {
    @include themify($themes) {
      background-color: themed('baseColor');
    }
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
