@import '/src/Utilities/Variables';

.nav-search {
  display: flex;
  @include flex-center;
  background-color: $baseColor;
  color: $textColor;
  border-radius: $bradius-l;

  input {
    background-color: transparent;
  }

  .search-icon {
    width: $i-width;
    height: $i-height;
    margin-left: 1rem;
  }
}
