@import '/src/Utilities/Variables.module';

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: $base-color;
  border-radius: $bradius-l;
  height: 85vh;
  margin-top: -1.2rem;
  padding: calc($unit-m * 2) calc($unit-m * 4);

  h2 {
    margin-top: 2rem;
    margin-left: 3.2rem;
    padding: $unit-s;
  }

  
  .dashboard-padination {
    display: flex;
    flex-flow: column;
    @include flex-center;
    gap: calc($unit-l*1.5);
  }
  .graph {
    width: 300px;
    height: 500px;
    border: 1px solid red;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .dashboard-arrows-cont {
    display: flex;
    @include flex-center;
    gap: calc($unit-l * 2);
    min-height: 65rem;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
