@import '/src/Utilities/Variables';

.coin {
  position: relative;
  background-color: $coinColor;
  color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: calc($unit-s * 5);
  border-radius: calc($bradius-m * 2);

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

    cursor: pointer;
  .coin-info {
    display: flex;
    flex-direction: column;
    gap: calc($unit-l * 1.7);
  }
  img {
    width: 35px;
    height: 35px;
  }
  span {
    display: block;
  }
  .name {
    letter-spacing: 1.1px;
  }
  .price {
    font-weight: 600;
    font-size: 2.2rem;
    letter-spacing: 1.8px;
  }
  .week-change {
    color: #838388;
    letter-spacing: 0.8px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .flex-row {
    display: flex;
    align-items: center;
  }
  .gap {
    gap: $unit-s;
  }
 
  button {
    z-index: 10;
  }
  .coin-icon {
    width: $i-width;
    height: $i-height;
  }
}
