@import '/src/Utilities/Variables';

.stalking-coins {
  height: 85vh;
  margin-top: -1.2rem;
  min-width: 80vw;
  @include themify($themes) {
    background-color: themed('baseColor');
    color: themed('textColor');
  }
  border-radius: $bradius-l;
  padding: calc($unit-m * 4);

  h2 {
    margin-bottom: 2.4rem;
    letter-spacing: 1.25px;
  }
  .coins-container {
    width: 45%;
  }

  .coins {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #22212857;
    border-radius: 11px;
  }
}
