@use '/src/Utilities/Variables.module' as vars;

.input-container {
  input {
    border-radius: vars.$bradius-l;
    background-color: vars.$base-color;
    border: none;
    padding: vars.$unit-m;
    color: inherit;
  }
}
