@import '/src/Utilities/Variables.module';

.pagination {
  display: flex;
  gap: $unit-m;
  
  .pagination-circle {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: $base-color;
  }
}
