@import '/src/Utilities/Variables.module';

.pagination {
  display: flex;
  gap: $unit-m;

  .pagination-circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    border: none;
    cursor: pointer;
  }
}
