@use '/src/Utilities/Variables.module' as vars;

.dashboard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 90%;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 3.2rem 4.8rem 4.8rem 3.2rem;
  background-color: vars.$component-back-color;
}
