@import '/src/Utilities/Variables.module';

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: $base-color;
  border-radius: $bradius-l;
  height: 80vh;
  margin-top: -1.2rem;
  padding: calc($unit-m * 3);

  h2 {
    margin-top: 2rem;
    margin-left: 3.2rem;
    padding: 1.2rem;
  }

  .dashboard-desk {
    display: grid;
    justify-items: center;
    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: calc($unit-m * 6);
    grid-column: 2;
    // padding: calc($unit-m * 4);
  }
  .graph {
    width: 300px;
    height: 500px;
    border: 1px solid red;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .dashboard-arrows-cont{
    display: flex;
    // @include flex-center
  }

  .icon{
    width: 24px;
    height: 24px;
  }
}
