@use '/src/Utilities/Variables.module' as vars;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FIX LATER
*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  color: vars.$baseTextColor;
  background-color: vars.$base-color;
 
}
