@import '/src/Utilities/Variables';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FIX LATER
*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('baseColor');
  }
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  h1{
    letter-spacing: 1.25px;
  }
  h2{
    letter-spacing: 1.10px;
  }
  h3{
    letter-spacing: 0.6px; 
  }
}
