@import '/src/Utilities/Variables';

.icon {
  width: 24px;
  height: 24px;

  &.icon-arrow {
    @include themify($themes) {
      stroke: themed('baseColor');
    }
    cursor: pointer;
  }
  &.icon-arrow:hover,
  &.icon-arroe:active {
    stroke: #98989c;
  }
}
