@import '/src/Utilities/Variables';

.icon {
  width: 24px;
  height: 24px; 

  &.icon-arrow {
    @include themify($themes) {
      stroke: themed('baseColor');
    }
    cursor: pointer;
  }
  &.icon-arrow:hover,
  &.icon-arroe:active {
    stroke: #98989c;
  }
}

.nav_icon-back {
  @include themify($themes) {
    background-color: themed('baseColor');
    color: themed('textColor');
  }
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: #22c55e;
  }

}

.icon-arrow-down{
  color: red;
}
.icon-arrow-up{
  color: green;
}