// COLORS
$baseTextColor: #fff;
$base-color: #313039;
$component-back-color: #0c0c10;
$ditem-color: #222128;

// BORDER-RADIUS

$bradius-s: 5px;
$bradius-m: 11px;
$bradius-l: 35px;

// UNITS
$unit-s: 0.4rem;
$unit-m: 0.8rem;
$unit-l: 1.2rem;

// THEME VARIABLES
$themes: (
  light: (
    textColor: #000,
    backColor: #fff,
    baseColor: rgba(212, 213, 213, 0.344),
    coinColor: #999,
  ),
  dark: (
    textColor: #fff,
    baseColor: #313039,
    backColor: #0c0c10,
    coinColor: #222128,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

// COMPLEX STYLES

@mixin flex-center {
  align-items: center;
  justify-content: center;
}
